@font-face {
    font-family: "caladea-bolditalic";
    src: url(https://alyssad3.github.io/islt_7310/fonts/caladea-bolditalic.ttf);
}

.main-banner {
    width: 0;
    padding: 0;
    text-align: center;
}

.introsection {
    margin: 10px;
    padding: 10px;
}
h1 { 
    margin: auto;
    padding: 0;
    color: #0099ff;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;    
}

p {
    color: #000;
    font-family:Arial, Helvetica, serif
}

.perref {
    margin: 10px;
    padding: 10px;
}

.computerwithcanva {
    text-align: center;
    width: 20%;
    padding: 5px;
}

.workingwithcanva{
    margin: 25px;
    padding: px;
}
.resources {
    margin: 10px;
    padding: 10px;
}

.background-color {
    background-color: #9AA7B2;
    border: 1px solid #000;
}

.container {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.aboutme {
    font-size: 22px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 100px;
}

.imageofme {
    text-align: center;
}

.image {
    text-align: center;
}
.text {
    font-size: 18px;
    display: inline-block;
    text-align: justify;
    width: 550px;
    padding: 20px;
}

blockquote {
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
}

video {
    width: 100%;
}

/*creating a brochure section*/
.brochurecontainer {
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 1000px;
    margin-top: 0;
    margin-left: 25px;
    
}
.cimage {
    display: inline-block;
    align-items: right;
    justify-content: right;
    text-align: right;
    width: 800px;
    margin: 0;
    padding: 0;
}

/*creating a flyer section*/
.flyercontainer {
    border: 1px solid red;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 1000px;
    margin-top: 0;
    margin-left: 25px;
    
}
.bfimage {
    border: 1px solid red;
    display: inline-block;
    align-items: left;
    justify-content: left;
    text-align: left;
    width: 800px;
    margin-left: 25px;
 
}

/*footer section*/
footer {
    font-family: "caladea-bolditalic", serif;
    font-size: 14px;
    width: 0 auto;
    padding: 5px;
    text-align: center;
    color: #000;
    background-image: url("https://alyssad3.github.io/islt_7310/images/footerbackground.png");
}

@media (min-width: 368px) {
    .computerwithcanva {
        width: 500%;
    }
}  

@media print {
    header {
        display: none;
    }
    h1 {
        margin: 1in;
           }
    .aboutme {
        font-size: 11pt;
        line-height: auto;
        margin: 1in;
        padding: 0em;
        background: none;
        color: #000;
    }
    blockquote {
        text-align: center;
        font-size: 12pt;
        padding: 0em;
    }
    br {
        display: none;
    }
    footer {
        font-family: "caladea-bolditalic", serif;
        width: 100%;
        padding: 0em;
        color: #000;
    }
}
